blockquote {
    border-width: 0 0 0 3;
    border-style:groove;
    border-left-color: #b92020;
    width:50%;
    font-size:160%;
    background-color: rgb(218, 217, 217);
    border-radius: 10px
  }

header {
    max-width: 90%;
    margin: auto;
    font-size: medium;
}
p {
    font-family:'Times New Roman', Times, serif;
    color: rgb(21, 21, 24);
    margin: 1rem;
    padding: 0.2rem;
    font-size: medium;
}

body {
    max-width: 90%;
    margin: auto;
    background-color: #5a640485;
    background-image:url(https://i.pinimg.com/736x/76/17/87/761787a625a57919a77b021cdad49f10.jpg);
}
h1 {
    font-style: oblique;
    color:rgb(226, 113, 43);
}
a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkmagenta;
    font-style: oblique;
    font-weight: 200;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  a:hover {
    border-bottom: 1px solid;
    background: #b1feaa;
  }
  a:visited {
    background: #4b5301;
    color: #feaaaa;
  }
